<html>
  <body>
    <div class="layout-row  layout-align-space-between-center">

      <div class="flex">
        <a href="overview">
          {{!-- <img class="logo" id="logo" src= {{if selectedUser.darkMode "assets/images/logo-white.png" "assets/images/logo-black.png"}} alt="theme"> --}}
          <img class="logo" id="thisGuy" src="assets/images/logo-black.png" alt="theme">
        </a>
      </div>

      <div class="bigMenu">
        <div class="layout-row layout-align-end-center">
          {{#current-route-button route="overview"}}Overview{{/current-route-button}}
          {{#current-route-button route="incomes"}}Incomes{{/current-route-button}}
          {{#current-route-button route="expenses"}}Expenses{{/current-route-button}}
          {{#current-route-button route="settings"}}Settings{{/current-route-button}}
          
          {{#paper-menu position="target-right target" as |menu|}}
            {{#menu.trigger}}
              {{#paper-button onClick=null}}
                <img src={{selectedUser.picture}} alt={{selectedUser.fullName}} class="user">
              {{/paper-button}}
            {{/menu.trigger}}

            {{#menu.content width=2 as |content|}}
              {{#each users as |user|}}
                {{#content.menu-item onClick=(action "changeUser" user)}}
                  <img src={{user.picture}} alt={{user.fullName}} class="userSmallMenu">
                  <span>{{user.fullName}}</span>
                {{/content.menu-item}}
              {{/each}}
              {{#content.menu-item onClick=(action "showCreateUserDialog")}}
                {{paper-icon "face"}}
                <span>Create user</span>
              {{/content.menu-item}}
            {{/menu.content}}
          {{/paper-menu}}
        </div>
      </div>

      <div class="smallMenu">
        {{#paper-menu position="target-right target" as |smallMenu|}}
          {{#smallMenu.trigger}}
            {{#paper-button onClick=null}}
              {{paper-icon "menu" class="md-menu-origin"}}
            {{/paper-button}}
          {{/smallMenu.trigger}}

          {{#smallMenu.content width=2 as |content|}}
            {{#current-route-button route="overview"}}Overview{{/current-route-button}}
            {{#current-route-button route="incomes"}}Incomes{{/current-route-button}}
            {{#current-route-button route="expenses"}}Expenses{{/current-route-button}}
            {{#current-route-button route="settings"}}Settings{{/current-route-button}}
            {{#paper-menu position="target-right target" as |menu|}}
              {{#menu.trigger}}
                {{#paper-button onClick=null}}
                  <img src={{selectedUser.picture}} alt={{selectedUser.fullName}} class="user">
                {{/paper-button}}
              {{/menu.trigger}}

              {{#menu.content width=2 as |content|}}
                {{#each users as |user|}}
                  {{#content.menu-item onClick=(action "changeUser" user)}}
                    <img src={{user.picture}} alt={{user.fullName}} class="userSmallMenu">
                    <span>{{user.fullName}}</span>
                  {{/content.menu-item}}
                {{/each}}
              {{/menu.content}}
            {{/paper-menu}}

          {{/smallMenu.content}}
        {{/paper-menu}}
      </div>

    </div>


    {{#paper-button fab=true onClick=(action "darking") class="float"}}
      {{paper-icon "nights_stay"}}
    {{/paper-button}}


    {{#if showCreateUser}}
      {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
        {{#paper-toolbar}}
          {{#paper-toolbar-tools}}
            <h2>Create a new user</h2>
            <span class="flex"></span>
            {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
          {{/paper-toolbar-tools}}
        {{/paper-toolbar}}

        {{#paper-dialog-content}}
          <div class="layout layout-sm-column">
            {{paper-input 
              label="Full name" 
              value=fullName
              required=true
              errorMessages=(hash
                required="Full name is required"
              ) 
              onChange=(action (mut fullName))}}

            {{paper-input 
              label="Picture" 
              value=picture
              required=true
              errorMessages=(hash
                required="Picture is required"
              ) 
              onChange=(action (mut picture))}}

            {{paper-input 
              label="Danger zone" 
              type="number" 
              value=danger 
              required=true
              min=1
              errorMessages=(hash
                required="Danger zone value is required"
              ) 
              onChange=(action (mut danger))}}
          </div>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
          {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
          {{#paper-button onClick=(action "createUser" "create")}}Create{{/paper-button}}
        {{/paper-dialog-actions}}
      {{/paper-dialog}}
    {{/if}}

    {{outlet}}
  </body >

  <footer>
    <p>Designed by <b class="accentHeading">@Alex</b></p>
  </footer>
</html>