<body>
  <div class="layout-row layout-xs-column">

    <div class="flex">
      <a href="overview">
        <img src= {{if darkMode "assets/images/logo-white.png" "assets/images/logo-black.png"}} alt="theme" width="188px" height="56px">
      </a>
    </div>

    <div class="flex">
      <div class="layout-row layout-align-end-center">
        {{#current-route-button route="overview"}}Overview{{/current-route-button}}
        {{#current-route-button route="incomes"}}Incomes{{/current-route-button}}
        {{#current-route-button route="expenses"}}Expenses{{/current-route-button}}
        {{#current-route-button route="settings"}}Settings{{/current-route-button}}
        {{#paper-menu position="target-right target" as |menu|}}
          {{#menu.trigger}}
            {{#paper-button onClick=null}}
              <img src='{{currentUser.picture}}' class="user">
            {{/paper-button}}
          {{/menu.trigger}}

          {{#menu.content width=2 as |content|}}
              {{#each users as |user|}}
                {{#content.menu-item onClick=(action "changeUser" currentUserVariable)}}
                    <img src={{user.picture}} alt={{user.fullName}} class="user">
                    <span>{{user.fullName}}</span>
                {{/content.menu-item}}
              {{/each}}
          {{/menu.content}}
        {{/paper-menu}}
      </div>
    </div>

  </div>
  {{outlet}}
</body>


{{currentUser.fullName}}
{{currentUser.picture}}
{{currentUser.darkMode}}

<footer>
  <p>Designed by <b class="accentHeading">@Alex</b></p>
</footer>