<div class="layout-row layout-xs-column">
  <div class="flex">
    <h1>Expenses</h1>
    <p>This is how you spend your coco</p>
  </div>

</div>

<div class="layout-row layout-xs-column">
  <div class="flex">
    <div class="card">
      <h3>My expenses</h3>
      <p>Income sources</p>
      {{ember-chart type="doughnut" data=priorityOptions}}

      <div class="layout-row layout-align-space-between">
        <div>

        </div>
        <div>
          <h1 class="red">{{sumOfCurrentMonthExpenses}} lei</h1>
          <p align="right">spent</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="card small">
      <h3>Add new expense</h3>
      <p>Pump those numbers up</p>
      <div class="layout layout-sm-column">
        {{paper-input label="Name" value=name onChange=(action (mut name))}}
        {{paper-input label="Amount" type="number" value=amount onChange=(action (mut amount))}}
        {{paper-input label="Submission date" type="date" value=date onChange=(action (mut date))}}
        {{#paper-select
          disabled=disableSelect
          label="Category"
          options=categoryOptions
          selected=category
          onChange=(action (mut category))
          as |categoryOption|}}
          {{categoryOption}}
        {{/paper-select}}
        {{paper-input textarea=true block=true label="Description" value=description onChange=(action (mut description))}}
      </div>
      {{#paper-button raised=true fab=true accent=true onClick=(action "addExpense")}}{{paper-icon "add"}}{{/paper-button}}
            
      {{#if addExpenseToast}}
        {{#paper-toast duration=3000 capsule=true onClose=(action "closeAddToast") as |toast|}}
          {{#toast.text}}Expense succesfully added{{/toast.text}}
          {{#paper-button accent=true onClick=(action "undoAddExpense")}}Undo{{/paper-button}}
        {{/paper-toast}}
      {{/if}}

      {{#if undoAddExpenseToast}}
        {{#paper-toast duration=3000 capsule=true onClose=(action "closeUndoToast") as |toast|}}
          {{#toast.text}}Last expense deleted{{/toast.text}}
        {{/paper-toast}}
      {{/if}}
    </div>
  </div>
</div>
<div class="layout-row layout-xs-column">
  <div class="flex-50 card">
    <h3>All time history</h3>
    <p>Watch your mouth</p>
    {{#each expenses as |expense|}}
      {{#paper-item class="md-3-line"}}
        {{paper-icon "trending_down"}}
        <div class="md-list-item-text">
          <h3>{{expense.name}}</h3>
          <p>{{expense.amount}} lei</p>
          <p>{{expense.description}}</p>
          <p>{{expense.date}}</p>
          {{#paper-menu as |menu|}}
            {{#menu.trigger}}
              {{#paper-button onClick=null iconButton=true}}
                {{paper-icon "more_horiz" class="md-menu-origin"}}
              {{/paper-button}}
            {{/menu.trigger}}

            {{#menu.content width=2 as |content|}}
                {{#content.menu-item onClick=(action "showEditDialogAction" expense)}}
                  {{paper-icon "edit" class="md-menu-origin"}}
                  <span class="md-menu-align-target">Edit</span> {{item}}
                {{/content.menu-item}}

                {{#content.menu-item onClick=(action "showDeleteDialogAction" expense)}}
                 {{paper-icon "delete" class="md-menu-origin"}}
                  <span class="md-menu-align-target">Delete</span> {{item}}
                {{/content.menu-item}}
            {{/menu.content}}
          {{/paper-menu}}
        </div>
      {{/paper-item}}
    {{/each}}

    {{#if showDeleteDialog}}
      {{#paper-dialog class="flex-77" onClose=(action "closeDeleteDialogAction" "cancel") origin=dialogOrigin fullscreen=true clickOutsideToClose=true}}
        {{#paper-dialog-content}}
          <span>Are you sure you want to delete "{{currentExpense.name}}"?</span>
          {{#paper-button raised=true primary=true onClick=(action "confirmDelete")}}Yes{{/paper-button}}
          {{#paper-button raised=true primary=true onClick=(action "closeDeleteDialogAction")}}Cancel{{/paper-button}}
        {{/paper-dialog-content}}
      {{/paper-dialog}}
    {{/if}}

    {{#if showEditDialog}}
      {{#paper-dialog fullscreen=true escapeToClose=true clickOutsideToClose=true onClose=(action "closeEditDialogAction") origin=dialogOrigin}}
        {{#paper-dialog-content escapeToClose=true clickOutsideToClose=true}}
          <div class="layout layout-sm-column">
            {{paper-input label="Name" placeholder=currentExpense.name value=currentExpense.name onChange=(action (mut currentExpense.name))}} 
            {{!-- value sau placeholder --}}
            {{paper-input label="Amount" type="number" value=currentExpense.amount onChange=(action (mut currentExpense.amount))}}
            {{paper-input label="Submission date" type="date" value=currentExpense.date onChange=(action (mut currentExpense.date))}}
            {{#paper-select
              disabled=disableSelect
              label="Category"
              options=categoryOptions
              selected=currentExpense.category
              onChange=(action (mut currentExpense.category))
              as |categoryOption|}}
              {{categoryOption}}
            {{/paper-select}}
            {{paper-input textarea=true block=true label="Description" value=currentExpense.description onChange=(action (mut currentExpense.description))}}
          </div>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
          {{#paper-button onClick=(action "closeEditDialogAction")}}{{paper-icon "cancel" size=18}} Cancel{{/paper-button}}
          {{#paper-button onClick=(action "confirmEdit")}}{{paper-icon "edit" size=18}} Edit expense{{/paper-button}}
        {{/paper-dialog-actions}}

      {{/paper-dialog}}
    {{/if}}

  </div>
</div>  
{{outlet}}