<div class="layout-row layout-xs-column">
  <div class="flex">
    <h1>Expenses</h1>
    <p>This is how you spend your coco</p>
  </div>

</div>

<div class="layout-row layout-xs-column">
  <div class="flex">
    <div class="card">
      <h3>My expenses</h3>
      <p>Income sources</p>
      {{ember-chart type="doughnut" data=priorityOptions}}

      <div class="layout-row layout-align-space-between">
        <div>

        </div>
        <div>
          <h1 class="red">{{sumOfCurrentMonthExpenses}} lei</h1>
          <p align="right">spent</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="card small">
      <h3>Add new expense</h3>
      <p>Pump those numbers up</p>
      <div class="layout layout-sm-column">
        {{paper-input label="Name" value=name onChange=(action (mut name))}}
        {{paper-input label="Amount" type="number" value=amount onChange=(action (mut amount))}}
        {{paper-input label="Submission date" type="date" value=date onChange=(action (mut date))}}
        {{#paper-select
          disabled=disableSelect
          label="Category"
          options=categoryOptions
          selected=category
          onChange=(action (mut category))
          as |categoryOption|}}
          {{categoryOption}}
        {{/paper-select}}
        {{paper-input textarea=true block=true label="Description" value=description onChange=(action (mut description))}}
      </div>
      {{#paper-button raised=true fab=true accent=true onClick=(action "addExpense")}}{{paper-icon "add"}}{{/paper-button}}
            
      {{#if addExpenseToast}}
        {{#paper-toast duration=3000 capsule=true onClose=(action "closeAddToast") as |toast|}}
          {{#toast.text}}Expense succesfully added{{/toast.text}}
          {{#paper-button accent=true onClick=(action "undoAddExpense")}}Undo{{/paper-button}}
        {{/paper-toast}}
      {{/if}}

      {{#if undoAddExpenseToast}}
        {{#paper-toast duration=3000 capsule=true onClose=(action "closeUndoToast") as |toast|}}
          {{#toast.text}}Last expense deleted{{/toast.text}}
        {{/paper-toast}}
      {{/if}}
    </div>
  </div>
</div>
<div class="layout-row layout-xs-column">
  <div class="flex-50 card">
    <h3>All time history</h3>
    <p>Watch your mouth</p>
    {{#each expenses as |expense|}}
      {{#paper-item class="md-3-line" onClick=(action "targetButton" item)}}
        {{paper-icon "trending_down"}}
        <div class="md-list-item-text">
          <h3>{{expense.name}}</h3>
          <p>{{expense.amount}} lei</p>
          <p>{{expense.description}}</p>
          <p align="right">{{expense.date}}</p> 
        </div>
      {{/paper-item}}
    {{/each}}
  </div>
</div>  
{{outlet}}