<div class="layout-row layout-xs-column">
  <div class="flex container">
    <h1>Incomes</h1>
    <p>You are doing good this month. You still have 60% avalable</p>
  </div>
</div>

<div class="layout-row layout-xs-column">
  <div class="flex container">
    <div class="card">
      <h3>My income sources</h3>
      <p>Income sources and timestamps</p>

      <div align="center">
        <p>Salary</p>
        {{ember-progress-bar progress=0.1 options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="center">
        <p>Free lanceing</p>
        {{ember-progress-bar progress=0.2 options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="center">
        <p>Scolarship</p>
        {{ember-progress-bar progress=0.7 options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="right">
        <h1 class="accentHeading">{{incomeSum}} lei</h1>
        <p>this month</p>

      </div>
    </div>
  </div>

  <div class="flex container">
    <div class="card small">
      <h3>Add new income source</h3>
      <p>Pump those numbers up</p>

      <div class="layout layout-sm-column">

        {{paper-input label="Name" placeholder="Enter name" value=name onChange=(action (mut name))}}

        {{paper-input label="Amount" type="number" value=amount onChange=(action (mut amount))}}

        {{paper-input label="Submission date" type="date" value=date onChange=(action (mut date))}}

        {{paper-input label="Category" type="text" value=category onChange=(action (mut category))}}

        {{paper-input textarea=true block=true label="Description" value=description onChange=(action (mut description))}}

      </div>

      {{#paper-button raised=true fab=true accent=true onClick=(action "addIncome")}}+{{/paper-button}}
            
      {{#if addIncomeToast}}
        {{#paper-toast duration=3000 toastClass=md-warn capsule=true onClose=(action "closeAddToast") as |toast|}}
          {{#toast.text}}Income succesfully added{{/toast.text}}
          {{#paper-button accent=true onClick=(action "undoAddIncome")}}Undo{{/paper-button}}
        {{/paper-toast}}
      {{/if}}

      {{#if undoAddIncomeToast}}
        {{#paper-toast duration=3000 toastClass=md-warn capsule=true onClose=(action "closeUndoToast") as |toast|}}
          {{#toast.text}}Last income deleted{{/toast.text}}
        {{/paper-toast}}
      {{/if}}

    </div>
  </div>
</div>

{{outlet}}