<div class="layout-row layout-xs-column">
  <div class="flex">
    <h1>Incomes</h1>
    <p>You are doing good this month. You still have 60% avalable</p>
    <p>-------functie pentru procent intre castig si cheltuieli pe luna respectiva</p>
  </div>
</div>

<div class="layout-row layout-xs-column">
  <div class="flex">
    <div class="card">
      <h3>My income sources</h3>
      <p>Income sources and timestamps</p>
      <div align="center">
        <p>Work</p>
        {{ember-progress-bar progress=barValue.work options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="center">
        <p>Freelance</p>
        {{ember-progress-bar progress=barValue.freelance options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="center">
        <p>Scolarship</p>
        {{ember-progress-bar progress=barValue.scolarship options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="right">
        <h1 class="accentHeading">{{incomesSum}} lei</h1>
        <p>this month</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="card small">
      <h3>Add new income source</h3>
      <p>Pump those numbers up</p>
      <div class="layout layout-sm-column">
        {{paper-input label="Name" value=name onChange=(action (mut name))}}
        {{paper-input label="Amount" type="number" value=amount onChange=(action (mut amount))}}
        {{paper-input label="Submission date" type="date" value=date onChange=(action (mut date))}}
        {{#paper-select
          disabled=disableSelect
          label="Category"
          options=categoryOptionsForIncome
          selected=category
          onChange=(action (mut category))
          as |categoryOption|}}
          {{categoryOption}}
        {{/paper-select}}
      </div>
      {{#paper-button raised=true fab=true icon=true accent=true onClick=(action "addIncome")}}{{paper-icon "add"}}{{/paper-button}}
            
      {{#if addIncomeToast}}
        {{#paper-toast duration=3000 capsule=true onClose=(action "closeAddToast") as |toast|}}
          {{#toast.text}}Income succesfully added{{/toast.text}}
          {{#paper-button accent=true onClick=(action "undoAddIncome")}}Undo{{/paper-button}}
        {{/paper-toast}}
      {{/if}}

      {{#if undoAddIncomeToast}}
        {{#paper-toast duration=3000 capsule=true onClose=(action "closeUndoToast") as |toast|}}
          {{#toast.text}}Last income deleted{{/toast.text}}
        {{/paper-toast}}
      {{/if}}

    </div>
  </div>
</div>

{{outlet}}