<div class="layout-row layout-xs-column">
  <div class="flex-50">

    <div class="layout-row  layout-align-space-between-start container">
      <div>
        <h1>Hey, Alex</h1>
        <p>You doing good</p>
      </div>
      <div>
        <h1 class="green">{{expenseSum}} lei</h1>
        <p align="right">avalable</p>
      </div>
    </div>

  </div>
</div>
<div height="500px" class="layout-row layout-xs-column">

  <div class="flex container">
    <div class="card">
      <h3>Spending categories</h3>
      <p>this month</p>
      {{ember-chart type="doughnut" data=priorityOptions}}
      {{#paper-button raised=true fab=true accent=true onClick=(action "targetButton")}}+{{/paper-button}}
    </div>

  </div>
  <div class="flex container">

    <div class="card small">
      <div>
        <h3>Savings</h3>
        <p>Save smoth</p>
      </div>
      <div align="center">
        <p>Vacation</p>
        {{travelSum.sum}}
        {{ember-progress-bar progress=travelSum.progress options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="center">
        <p>Emergency</p>
        {{savingSum.sum}}
        {{ember-progress-bar progress=savingSum.progress options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
    </div>

    <div class="card small">
      <h3>Top spendings</h3>
      <p>Opreste-te animalule</p>

      {{expenses.category}}
      {{foodTest}}
      {{expData.foodMax}}

    </div>

  </div>
</div>

{{outlet}}