<div class="layout-row layout-xs-column">
  <div class="flex">

    <div class="layout-row  layout-align-space-between-start container">
      <div>
        <h1 style="font-weight:lighter">Hey, <span style="font-weight:bold">{{selectedUser.fullName}}</span></h1>
        <p>{{if this.isBad "Ohh shit" "Keep it up"}}. You've got <b>{{status.percentage}} % </b>left</p>
      </div>
      <div>
        <h1 class={{if this.isBad "red" "green"}}>{{status.total}} lei</h1>
        <p align="right">available</p>
      </div>
    </div>

  </div>
</div>

<div class="layout-row layout-xs-column">

  <div class="flex container">
    <div class="card">

      <h3>Spendings</h3>
      <p>this month</p>
      {{ember-chart type="doughnut" data=expensesChart}}
      {{#paper-button raised=true fab=true accent=true onClick=(action "addQuickExpense")}}{{paper-icon "add"}}{{/paper-button}}

    </div>

  </div>
  <div class="flex container">

    <div class="card small">
      <div>
        <h3>Savings</h3>
        <p>For bad days</p>
      </div>
      <div align="center">
        <p>Vacation</p>
        {{ember-progress-bar progress=selectedUser.totalExpenses.travel options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="center">
        <p>Just savings</p>
        {{ember-progress-bar progress=selectedUser.totalExpenses.savings options=(hash strokeWidth=4 duration=1000  easing="easeOut" trailColor="#BBEEE9" color = "#03DAC5" trailWidth= 4)}}
      </div>
      <div align="right">
        <h1 class="accentHeading">{{selectedUser.totalExpenses.total}} lei</h1>
        <p>total</p>
      </div>
    </div>

    <div class="card small">
      <h3>Top spendings</h3>
      <p>Stop it!</p>
      <div class="flex">
        {{!-- <div class="layout-row layout-align-space-around-center">

          {{#each topSpendings as |entry|}}
            {{#paper-item class="md-3-line" onClick=(action "showExpenseDetails" entry)}}
              {{paper-icon "restaurant" class="md-avatar-icon"}}
              <div class="md-list-item-text">
                <h3 style="font-weight: bold;">{{entry.category}}</h3>
                <h4>{{entry.name}}</h4>
                <p>{{entry.amount}}</p>
              </div>
            {{/paper-item}}
          {{/each}}

        </div> --}}
      </div>
    </div>

  </div>
</div>

{{#if showExpenseDialog}}
  {{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action "closeAnimatedDialog") openFrom="#paper-dialog-demo" closeTo="#bottom-of-card"}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{currentTopExpense.name}}</h2>
      <p>Amount paid: <b>{{currentTopExpense.amount}}</b></p>
      <p>When: <b>{{moment-format currentTopExpense.date "DD/MM/YYYY"}}</b></p>
      <p>Description:</p> 
      <p><b>{{currentTopExpense.description}}</b></p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAnimatedDialog")}}Okay!{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}


{{#if showPromptAddExpense}}
  {{#paper-dialog fullscreen=true escapeToClose=true clickOutsideToClose=true onClose=(action "closePromptDialog") origin=dialogOrigin}}

    {{#paper-dialog-content escapeToClose=true clickOutsideToClose=true}}
      <div class="layout layout-sm-column">
        {{paper-input 
          label="Name" 
          value=name 
          required=true
          errorMessages=(hash
            required="Name is required"
          ) 
          onChange=(action (mut name))}}

        {{paper-input 
          label="Amount" 
          type="number" 
          value=amount 
          required=true
          min=1
          errorMessages=(hash
            required="Amount is required"
          ) 
          onChange=(action (mut amount))}}

        {{paper-input label="Submission date" type="date" value=date onChange=(action (mut date))}}
        {{#paper-select
          disabled=disableSelect
          label="Category"
          options=categoryOptions
          selected=category
          required=true
          errorMessages=(hash
            required="Choose"
          ) 
          onChange=(action (mut category))
          as |categoryOption|}}
          {{categoryOption}}
        {{/paper-select}}
        {{paper-input textarea=true block=true label="Description" value=description onChange=(action (mut description))}}
      </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closePromptDialog")}}{{paper-icon "cancel" size=18}} Cancel{{/paper-button}}
      {{#paper-button onClick=(action "addExpense")}}{{paper-icon "add" size=18}} Add expense{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

{{outlet}}